{{!--
<h2>Login</h2>
<form action="/auth/login" method="POST" id="form-container" class="navbar navbar-dark bg-dark">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form> --}}

<div style="background-image:url('https://www.altran.com/as-content/uploads/sites/12/2017/05/5-0_finance_1600.jpg'); background-repeat:no-repeat; height:1000px;">
  <h4 class=" had-container loginBox truncate bg-card-user center">
    <img src="https://cdn3.iconfinder.com/data/icons/happily-colored-snlogo/128/medium.png" alt="" class="circle responsive-img">
    <div class="row loginBox ">
      <form class="col s12 formLogin" action="/auth/login" method="POST">
        <div class="row">
          <div class="input-field col m12 s12">
            <label for="username">Username</label>
            <input id="username" type="text" name="username">
          </div>
        </div>
        <div class="row">
          <div class="input-field col m12 s12">
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
          </div>

        </div>
        <div class="row center-button">
          <button class="btn waves-effect waves-light buttons-login-width" type="submit" name="action">Log In</button>
        </div>
        <div class="row center-button">
          <a href="/auth/signup" class="btn waves-effect waves-light a-button buttons-login-width">Sign Up</a>
        </div>
<a href="/apis/getCripto">getCripto</a>
         {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}
      </form>
   
    </div>
  </h4>
</div>