
<section class="topNews container">

<h1>TOP NEWS</h1>

    <div class="row">
        <div class="col-8">
            <p>xxxxxxxx</p>
        </div>

        <div class="col-4">
            <p>
                xxxxxxxx
            </p>

            <p>
                xxxxxxxx
            </p>
        </div>
    </div>

   
</section>


<section class="coins container">
<h1> Coins</h1>
    <div class="row">
        <div class="col">

            <p>yyyyy</p>
    
        </div>

        <div class="col">
        
            <p>xxxxx</p>
        
        </div>

        <div class="col">
        
            <p>yyyyy</p>
        
        </div>

        <div class="col">

            <p>xxxxxxx</p>
        </div>
    </div>

</section>

<section class="generalNews container">

<h1> GENERAL NEWS</h1>
    <div class="row">
        <div class="col">
            <p>xxxxxxxxxxxxxxxxx</p>
        </div>

        <div class="col">
            <p>xxxxxxxxxxxxxxxxx</p>
        </div>
        
        <div class="col">
            <p>xxxxxxxxxxxxxxxxx</p>
        </div>

    </div>
    

</section>


<section>
    <h1>BLOCKCHAIN EVENTS</h1>
        <div class="blockEvents row">
            <div class="col">
                <p>xxxxxxxxxxxxxxxxx</p>
            </div>

            <div class="col">
                <p>xxxxxxxxxxxxxxxxx</p>
            </div>

            <div class="col">
                <p>xxxxxxxxxxxxxxxxx</p>
            </div>
        </div>

</section>

