
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/apis/getCripto">getCripto</a>
<a href="/showEvent/5bfd555c2714c47cf1ae8c4b">showEvent</a>
<a href="/showCoin/5bfd555b2714c47cf1ae8c48">showCoin</a>


